.terms_main {
    font-size: 15px;
    padding: 35px;
    text-align: justify;

.terms_first{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.member{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.account_register{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.communications{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.trans_com{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.charges{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.use_plat{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.terms_condition{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.content{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.privacy{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.warranty {
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.service{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.further{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.payment_buy{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.laws{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.customer{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.exchange{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.indemnity{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.applicable{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.sale{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.trade{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.learn{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.trademark{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.product{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.limitation{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.terms_contact{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.grievance{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.policy{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.replace{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.return_policy{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.replace_point{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.dispute{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.dispute_qes1{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.dispute_qes2{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.dispute_qes3{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.dispute_qes4{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.buyer{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.restrict{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.dispute_charge{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.email_policy{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
.contact_sell{
    margin-top: 1rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
}
@media (max-width: 800px) {
    .terms_main{
        overflow: hidden;
    }   
}














